__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

.env
.venv/
env/
venv/
*.swp
*.swo
.DS_Store
*.bak
node_modules/
processed_data/

.vscode/

backend/fma_dataset/fma_metadata/*.csv
backend/fma_dataset/fma_metadata/*.zip
backend/fma_dataset/fma_metadata/*.tar.gz
backend/fma_dataset/fma_metadata/*raw_*.*
backend/fma_dataset/audio/

*.mp3
*.wav

*.DS_Store
